/*font links start*/

@font-face{
	font-family: OpenSans-Regular;
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
	font-family: OpenSans-SemiBold;
	src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face{
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face{
	font-family: OpenSans-italic;
	src: url(../fonts/OpenSans-italic.ttf);
}
@font-face{
	font-family: OpenSans-BoldItalic;
	src: url(../fonts/OpenSans-BoldItalic.ttf);
}
@font-face{
	font-family: OpenSans-ExtraBoldItalic;
	src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}
@font-face{
	font-family: OpenSans-ExtraBold;
	src: url(../fonts/OpenSans-ExtraBold.ttf);
}

/*font links end*/

/*common start*/
body{
	font-family: OpenSans-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #54524f;

}
/*common end*/
/*header start*/
header{
	padding-top: 10px;
	width: 100%;
	position: fixed;
	z-index: 99;
}
.c_nav{
    /*margin: 0 -165px;*/
    /*padding-top: 20px;*/
    background-color: transparent !important;

}
.logo{}
.menu{
	padding-left: 0 !important;
}
.menu ul li a {
    font-family: OpenSans-Bold;
    font-weight: 700;
    padding: 0px 25px !important;
    letter-spacing: 5px;
    color: #54524f;
    transition: .3s;
}
/*.menu ul li:last-child a{
	padding-right: 0 !important ;
}*/
.sr_bar{
	/*margin-left: 70px;*/
	border: none;
	border-radius: 24px;
	background-color: #c3bfbc
	padding-right: 0 !important ;

}
.s_bar{
    background-color: #c3bfbc;
    border: none;
    border-radius: 3.25rem;
    margin-right: 0 !important;
}
.s_bar:focus {
    color: #fff;
    background-color: #c3bfbc;
    border-color: none;
    outline: 0;
    box-shadow: none;
}
.icon i {
    font-size: 20px;
    margin: 10px -45px;
}

/*header end*/
/*banner start*/
.banner{
	height: 200vh;
	width: 100%;
	background: url(../images/hikinig-1.jpg);
	background-size: cover;
	background-position: top, center;
	position: relative;
}
.b_item{
	padding-top: 355px;
}
.b_h1 h1{
	font-family: OpenSans-ExtraBold;
	font-size: 90px;
	font-weight: 800;
	color: #deb37e;
}
.b_h2{
	font-family: OpenSans-BoldItalic;
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 20px;
}
.b_btn{
	width: 170px;
    height: auto;
	font-family: OpenSans-ExtraBold;
	font-weight: 800;
	border: 1px solid white;
	background-color: white;
	border-radius: 40px;
	margin-bottom: 30px;

}
.b_submit{
	font-size: 20px;
	color: #776c64;

}
.b_submit:focus {
    box-shadow: none;
}
.b_text{
	font-family: OpenSans-Italic;
	font-size: 20px;
}
/*banner end
/*fearure start*/
.feature{
	padding-bottom: 120px;
}
.s_feature{
	margin-right: 10px;
	margin-bottom: 10px;
}
.s_feature:last-child{
	margin-right: 0 !important;
}
.cm_title{}
.cm_h1 {
    font-family: OpenSans-ExtraBold;
    font-weight: 800;
    font-size: 70px;
    color: #e2a355;
    padding-bottom: 39px;
}
.cm_text {
    font-size: 29px;
    color: #7f7770;
    padding-bottom: 113px;
}

.card {
    padding: 0;
}
.c_b{
	color: white;
	background-color: #7f7770;
}

.b_ftr{
	margin-top: 50px;
	font-family: OpenSans-ExtraBold;
	font-size: 16px;
	font-weight: 800;
	background-color: #7f7770;
	border-color: #7f7770;
	border-radius: 50px;
	letter-spacing: 1px;

}

.b_ftr:focus {
    color: #fff;
    background-color: #7f7770;
    box-shadow: none;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
    border-color: #7f7770;
}
.b_ftr:hover {
    color: #fff;
    background-color: #deb37e;
	border-color: #deb37e;
}
/*fearure end*/
/*card section*/

.c_sec{
	padding-top: 150px;
}
.c_txt{
	padding-right: 90px;
	padding-left: 40px;
	background-color: #7f7770;
	padding-top: 150px;
	padding-bottom: 151px;
}
.c_hd {
    font-family: OpenSans-Bold;
    font-size: 54px;
    color: white;
    font-weight: 700;
    padding-bottom: 30px;
}
.c_pr{
   font-family: OpenSans-Regular;
   font-size: 20px;
   font-weight: 400;
   padding-bottom: 30px;
   color: white;
}
.c_btn {
	margin-bottom: 50px;
    font-family: OpenSans-Bold !important;
    font-size: 17px;
    font-weight: 700;
    color: white;
    border: 1px solid #e2a355;
    background-color: #e2a355;
    border-radius: 40px;
    letter-spacing: 4px;
    
}
.ed{
	background-color: #deb37e;
	padding-right: 40px;
	padding-left: 90px;
}





/*card section*/

/*slogan star*/


.slogan {
	margin: 80px;
    height: 100vh;
    width: 97%;
    background: url(../images/banner.png) no-repeat;
    background-position: center;
    position: relative;
    padding: 233px;
}

.s_hd{

}
.s_hd h1 {
    font-family: OpenSans-SemiBold;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 30px;
    color: white;
}
.s_pr{

}
.s_pr p{
	margin: 0 20px;
    font-family: OpenSans-Regular;
    font-size: 20px;
    font-weight: 400;
    color: #dbdbdb;
}


/*slogan end*/

/*explore start*/

.f_text{
    font-family: OpenSans-Bold;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #deb37e;
}
.f_h{
	font-size: 34px;
	font-weight: 700;
}
.f_p{
	font-family: OpenSans-Regular;
    font-size: 16px;
    font-weight: 400;
    color: #333d42;
}
/**/
/*explore end*/

/*quote*/
.quote{


}
.q_txt {
    margin: 0 186px;
    font-family: OpenSans-SemiBold;
    font-size: 29px;
    font-weight: 600;
    padding-top: 143px;
    padding-bottom: 30px;
    color: #3f3f3f;
}
.q_ftr{
	font-family: OpenSans-Bold;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #3f3f3f;

}
/*quote*/

/*subscribe*/
.subs{
	background-color: #deb37e;
	padding-bottom: 60px;
}
.sub {
    color: white;
    font-size: 54px;
    padding-top: 62px;
    padding-bottom: 8px;
}
.stxt {
    font-size: 25px;
    color: #54524f;
    padding-bottom: 50px;
}

.s_eml{
    font-family: OpenSans-Regular;
    font-size: 16px;
    font-weight: 400;
    color: #54524f;
    border-radius: 20px;
    margin: 0; 
}

.s_btn{
    font-family: OpenSans-Bold;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #54524f;
    border: none;
    border-radius: 20px;
    margin: 0;
}
.s_btn:hover {
	color: #deb37e;
    background-color: white; 
}
/*subscribe*/

/*footer start*/
footer{
	font-family: OpenSans-Regular;
    font-weight: 400; 
	padding-top: 100px;
	background-color: #54524f;
	padding-bottom: 120px;
}

.f_1{
	
	color: white;
    margin-right: 30px;
    padding-right: 40px;
}
.f_1 address{
font-size: 20px;
}
.f_1 p{}

.f_2{}
.f_2 ul li a{
	color: white;
	text-decoration: none;
}
.f_2 ul li a:hover {
	color: #deb37e;
}

.big{
	font-size: 20px;

}

/*footer end*/